.banner {
    background-color: $color-white;

    &__bottom {
        padding-bottom: 410px;
        top: 900px;
    }
    
    &__row {
        margin-left: 87px;
        margin-bottom: 58px;
    }

    &__nav {
        max-width: 846px;
        margin: 0 auto;
        padding-bottom: 15px;
        border-bottom: 1px solid $color-alto;
    }

    &__item a {
        font-family: $font-regular, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.15px;
        color: $color-blu;

        &:hover {
            font-family: $font-medium, sans-serif;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.15px;
            color: $color-milano-red;
            padding:0 25px 15px 25px;
            border-bottom: 4px solid $color-milano-red;
        }

        &:active {
            font-family: $font-medium, sans-serif;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            letter-spacing: 0.15px;
            color: $color-milano-red;
            padding:0 25px 15px 25px;
            border-bottom: 4px solid $color-milano-red;
        }
    }
}