.video {
    position: relative;

    &__content {
        position: absolute;
        top: 112px;
        right: 210px;
    }

    &__heading {
        color: $color-white;
        max-width: 411px;
    }
}

.play {
    width: 100%;
}